<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style2.css') }}">
    <!-- Добавьте эти строки для favicon -->
    <link rel="icon" href="{{ url_for('static', filename='image/icon.jpg') }}" type="image/jpeg">
    <link rel="shortcut icon" href="{{ url_for('static', filename='image/icon.jpg') }}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{{ url_for('index') }}">Главная</a></li>
                <li><a href="{{ url_for('blog') }}">Блог</a></li>
                <li><a href="{{ url_for('about') }}">Контакты</a></li>  <!-- Исправлено с contacts на about -->
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy; 2025 Мой Flask Сайт</p>
    </footer>
</body>
</html>